<h1>iBudget</h1>

<!-- Single class -->
<div [ngClass]="myClass()">Angular String Class</div>

<!-- Multiple class -->
<div [ngClass]="myClasses()">Angular Array Clas</div>

<!-- Useful for boolean: activating and deactivating class -->
<div [ngClass]="{ active: isActive() }">My Username</div>

<!-- Template Control - Sets the .active class when truthy. -->
@if(isActive()) {
  <button (click)="isActive.set(false)">Deactivate</button>
} @else {
  <button (click)="isActive.set(true)">Activate</button>
}

<!-- Template Control - Switch Case -->
<br><br>
<input [(ngModel)]="fruit">

@switch(fruit()) {
  @case("apple") {
    <span>An apple is red</span>
  }
  @case("banana") {
    <span>A banana is yellow</span>
  }
  @default {
    <span>Enter fruit.</span>
  }
}

<!-- 
  *ngIf - structural directives - laging gumamit ng () kasi gumagamit ng 
  signal() sa TS file.
-->
<h3>Structural Directives</h3>
<div [ngClass]="{ active: isActive() }">My Username</div>
<button (click)="isActive.set(false)" *ngIf="isActive()">Deactivate</button>
<button (click)="isActive.set(true)" *ngIf="!isActive()">Activate</button>

<!-- Table -->
<table [ngClass]="tableClass()">
  <thead>
    <th>Subject ID</th>
    <th>Subject Code</th>
    <th>Subject Name</th>
    <th>No. of Units</th>
  </thead>
  <tbody>
    <tr *ngFor="let subject of subjects">
      <td>{{subject.id}}</td>
      <td>{{subject.subject_code}}</td>
      <td>{{subject.subject_name}}</td>
      <td>{{subject.no_of_units}}</td>
    </tr>
  </tbody>
</table>

<!-- Structural Switch -->
<div [ngSwitch]="day()">
  <div *ngSwitchCase="0">Sunday</div>
  <div *ngSwitchCase="1">Monday</div>
  <div *ngSwitchCase="2">Tuesday</div>
  <div *ngSwitchCase="3">Wednesday</div>
  <div *ngSwitchCase="4">Thursday</div>
  <div *ngSwitchCase="5">Friday</div>
  <div *ngSwitchCase="6">Saturday</div>
</div>

<!-- 
  Parent sending input to child and using *ngFor to
  traverse through array.
-->
<div>
<app-subject-detail 
  *ngFor="let subject of subjects"
  [subject]="subject"></app-subject-detail>
</div>